﻿@model IEnumerable<NKSLK.EF.ThirdShiftModel>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Thống kê";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Thống kê</title>
    <link href="~/Content/admin/css/admin.css" rel="stylesheet">
    <link href="~/Content/admin/css/styles.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.13.0.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/Custom/custom.js"></script>
</head>
<body>
    <div class="row">
        <div class="col-lg-12">
            <h3 style="display:inline ; float:right">Thống kê công nhân làm việc ca 3 (22h - 6h)</h3>
        </div>
    </div>
    @using (Html.BeginForm("ThirdShiftStatistics", "Statistics", FormMethod.Get))
    {
        <div class="row p-t-8">
            <div class="col-lg-6">
                <div class="float-left">
                    @*criterion*@
                    <h5 style="display:inline" class="m-r-3">Tiêu chí</h5>
                    @Html.DropDownList("criterion",
                     new SelectList(new List<SelectListItem>
                         {
                            new SelectListItem { Selected = true, Text = "Tất cả", Value = "All"},
                            new SelectListItem { Selected = true, Text = "Tuần", Value = "Week"},
                            new SelectListItem { Selected = true, Text = "Tháng", Value = "Month"},
                         }, "Value", "Text"),
                     new { @class = "dataTable-selector", @id = "criterion" })

                    @*selecteDate*@
                    @Html.TextBox("selectedDate", "", new
                    {
                        @class = "dataTable-input date-picker",
                        @style = "width: 175px; display:inline",
                        @Value = ViewBag.selectedDate,
                        @readonly = true,
                        @id = "selectedDate"
                    })
                </div>
            </div>
            <div class="col-lg-4">
                <div class="float-left">
                    @*pageSize*@
                    <h5 style="display:inline" class="m-r-3">Số bản ghi</h5>
                    @Html.DropDownList("pageSize",
                     new SelectList(new List<SelectListItem>
                         {
                            new SelectListItem { Selected = true, Text = "5", Value = "5"},
                            new SelectListItem { Selected = true, Text = "10", Value = "10"},
                            new SelectListItem { Selected = true, Text = "15", Value = "15"},
                            new SelectListItem { Selected = true, Text = "20", Value = "20"},
                            new SelectListItem { Selected = true, Text = "25", Value = "25"}
                         }, "Value", "Text"),
                     new { @class = "dataTable-selector" })
                </div>
            </div>
            <div class="col-lg-2">
                <div class="float-right">
                    <button class="btn btn-primary m-b-3" style="padding: 0.35rem 0.75rem; line-height:1.2">Thống kê</button>
                </div>
            </div>
        </div>
    }
    <div class="row p-t-15">
        <div class=" col-lg-12">
            <table class="table">
                <tr>
                    <th style="background-color: #593bdb !important; color: #fff !important; width: 10%; text-align: center">
                        STT
                    </th>
                    @{ string symbol; }
                    <th style="background-color: #593bdb !important; color: #fff !important; width: 35%; text-align: center">
                        @{symbol = ViewBag.order == null ? " ⯅" : ViewBag.order == "ID_desc" ? " ⯆" : "";}
                        @Html.ActionLink(WebUtility.HtmlDecode(Html.DisplayNameFor(model => model.ID_CONGNHAN).ToHtmlString() + symbol),
                                        "ThirdShiftStatistics",
                                        new
                                        {
                                            page = 1,
                                            pageSize = ViewBag.pageSize,
                                            criterion = ViewBag.criterion,
                                            selectedDate = ViewBag.selectedDate,
                                            order = ViewBag.ID_Order
                                        }, new { @style = "color: #fff" })
                    </th>
                    <th style="background-color: #593bdb !important; color: #fff !important; width: 55%; text-align: center">
                        @{symbol = ViewBag.order == "Name_asc" ? " ⯅" : ViewBag.order == "Name_desc" ? " ⯆" : "";}
                        @Html.ActionLink(WebUtility.HtmlDecode(Html.DisplayNameFor(model => model.HoTen).ToHtmlString() + symbol),
                                        "ThirdShiftStatistics",
                                        new
                                        {
                                            page = 1,
                                            pageSize = ViewBag.pageSize,
                                            criterion = ViewBag.criterion,
                                            selectedDate = ViewBag.selectedDate,
                                            order = ViewBag.Name_Order
                                        }, new { @style = "color: #fff" })
                    </th>
                </tr>
                @if (Model != null)
                {
                    int i = (ViewBag.page - 1) * ViewBag.pageSize + 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td style="color: #000 !important; text-align: center">
                                @Convert.ToInt32(i)
                            </td>
                            <td style="color: #000 !important; text-align: center">
                                @Html.DisplayFor(modelItem => item.ID_CONGNHAN)
                            </td>
                            <td style="color: #000 !important; text-align: center">
                                @Html.DisplayFor(modelItem => item.HoTen)
                            </td>
                        </tr>
                        i++;
                    }
                }
            </table>
        </div>
    </div>
    <div class="row p-t-10">
        <div class="col-lg-12">
            <div class="dataTable-pagination" style="float:right">
                @Html.PagedListPager((IPagedList)Model,
                page => Url.Action("ThirdShiftStatistics",
                new
                {
                    page,
                    pageSize = ViewBag.pageSize,
                    criterion = ViewBag.criterion,
                    selectedDate = ViewBag.selectedDate,
                    order = ViewBag.order
                }),
                new PagedListRenderOptions
                {
                    MaximumPageNumbersToDisplay = 5,
                    LinkToPreviousPageFormat = "<<",
                    LinkToNextPageFormat = ">>",
                    LinkToFirstPageFormat = "First",
                    LinkToLastPageFormat = "Last"
                });
            </div>
        </div>
    </div>
</body>
</html>