﻿@model NKSLK.EF.ForgetPasswordModel
@{
    Layout = null;
    ViewBag.Title = "Quên mật khẩu";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quên mật khẩu</title>
    <link href="~/Content/admin/css/admin.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-50 p-r-50 p-t-70 p-b-40">
                @if (TempData["AlertMessage"] != null)
                {
                    <div class="alert @TempData["AlertType"] hide">
                        @TempData["AlertMessage"]
                    </div>
                }
                @using (Html.BeginForm("ForgetPassword", "Login", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <form class="login100-form validate-form">
                        <span class="login100-form-title p-b-50">
                            Quên mật khẩu
                        </span>
                        <div class="wrap-input100 validate-input m-b-5">
                            @Html.TextBoxFor(model => model.Username,
                            new
                            {
                                @class = "input100",
                                @autofocus = "autofocus",
                                @placeholder = WebUtility.HtmlDecode(Html.DisplayNameFor(model => model.Username).ToHtmlString()),
                                @maxlength = 50
                            })
                        </div>
                        <div class="m-b-25">
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                        </div>

                        <div class="wrap-input100 validate-input m-b-5">
                            @Html.PasswordFor(model => model.NewPass,
                            new
                            {
                                @class = "input100",
                                @placeholder = WebUtility.HtmlDecode(Html.DisplayNameFor(model => model.NewPass).ToHtmlString()),
                                @maxlength = 50
                            })
                        </div>
                        <div class="m-b-25">
                            @Html.ValidationMessageFor(model => model.NewPass, "", new { @class = "text-danger" })
                        </div>

                        <div class="wrap-input100 validate-input m-b-5">
                            @Html.PasswordFor(model => model.ConfirmedPass,
                            new
                            {
                                @class = "input100",
                                @placeholder = WebUtility.HtmlDecode(Html.DisplayNameFor(model => model.ConfirmedPass).ToHtmlString()),
                                @maxlength = 50
                            })
                        </div>
                        <div class="m-b-25">
                            @Html.ValidationMessageFor(model => model.ConfirmedPass, "", new { @class = "text-danger" })
                        </div>

                        <div class="wrap-input100 validate-input m-b-5">
                            @Html.TextBoxFor(model => model.Email,
                            new
                            {
                                @class = "input100",
                                @placeholder = WebUtility.HtmlDecode(Html.DisplayNameFor(model => model.Email).ToHtmlString()),
                                @maxlength = 50
                            })
                        </div>
                        <div class="m-b-20">
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>

                        <div class="m-b-15">
                            @Html.ActionLink("Quay lại đăng nhập", "Index", null, new { @style = "float: right" })
                            <br />
                        </div>

                        <div class="m-b-35">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>

                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" , type="submit">
                                Xác nhận
                            </button>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</body>
</html>
