﻿@model NKSLK.EF.LoginModel
@{
    Layout = null;
    ViewBag.Title = "Đăng nhập";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng nhập</title>
    <link href="~/Content/admin/css/admin.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-50 p-r-50 p-t-70 p-b-40">
                @using (Html.BeginForm("Index", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, null))
                {
                    @Html.AntiForgeryToken()
                    <form class="login100-form validate-form">
                        <span class="login100-form-title p-b-50">
                            Đăng nhập
                        </span>
                        <div class="wrap-input100 validate-input m-b-5">
                            @Html.TextBoxFor(model => model.Username,
                            new
                            {
                                @class = "input100",
                                @autofocus = "autofocus",
                                @placeholder = WebUtility.HtmlDecode(Html.DisplayNameFor(model => model.Username).ToHtmlString()),
                                @Value = ViewBag.Username,
                                @maxlength = 50
                            })
                        </div>
                        <div class="m-b-25">
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                        </div>

                        <div class="wrap-input100 validate-input m-b-5">
                            @Html.PasswordFor(model => model.Password,
                            new
                            {
                                @class = "input100",
                                @placeholder = WebUtility.HtmlDecode(Html.DisplayNameFor(model => model.Password).ToHtmlString()),
                                @Value = ViewBag.Password,
                                @maxlength = 50
                            })
                        </div>
                        <div class="m-b-20">
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>

                        <div class="m-b-15">
                            @Html.CheckBoxFor(model => model.RememberMe)
                            &nbsp;
                            @Html.LabelFor(model => model.RememberMe, new { style = "color: #686868" })
                            @Html.ActionLink("Quên mật khẩu?", "ForgetPassword", null, new { @style = "float:right" })
                        </div>

                        <div class="m-b-35">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>

                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" , type="submit">
                                Đăng nhập
                            </button>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</body>
</html>
